 body { 
	    min-height: 100vh;
	    background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c)); 
	    background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
	    background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%); 
	    background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%); 
	    background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%); }


.input-form { 
    max-width: 680px;
    margin-top: 80px;
    padding: 32px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) 
    }

    .btn{
        padding-top: 0.5rem;
    }

    .col-md-8{
        max-width: 50%;
    }

    #email{
    display: inline-block;
    width: 70%;
    }
    #email_check, #email_check_no{
        display: inline-block;
        width: 40%;
    }
    #email_check_btn,#bu_num_btn{
        display: inline-block;

    }

    #email_check{
        display: inline-block;
        
        
    }
    #bu_id{
        display: inline-block;
        width: 78%;
    }

    #bu_num{
       display: inline-block;
       width: 74%;
    }
