@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	text-align: center;
	color: black;
}

ul, li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
