@charset "UTF-8";

/* header */
header {
	margin-top: 10px;
}

#p_main_top {
	width: 1200px;
	margin: 0 auto;
	border-bottom: 2px solid silver;
}

#p_top_logo {
	float: left;
	margin-left: 30px;
}

#p_top_menu {
	float: left;
	margin: 15px 0 0 10px;
}

#p_top_profile {
	float: left;
}

.navbar-nav {
	margin-left: 30px;
	padding-bottom: 20px;
}

.dropdown-toggle, .dropdown {
	font-weight: bold;
}

#dropdownUser1 {
	padding-right: 10px;
}
/* header 끝 */


.c_info_title {
	font-size: x-large;
	font-weight: 600;
	color: #0D6EFD;
	margin: 0;
}

.c_main_box {
	width: 1200px;
	height: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

.c_outline {
	background-color: rgba(241, 241, 241);
	width: 1200px;
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 15px;
}

#c_inner_info {
	text-align: center;
	width: 550px;
	height: 500px;
	background-color: white;
	border-radius: 30px;
	margin: 40px 10px;
	padding: 20px 30px;
}

#c_inner_info_l {
	text-align: center;
	width: 1120px;
	height: 500px;
	background-color: white;
	border-radius: 30px;
	margin: 10px;
	padding: 20px 30px;
	margin: 10px 10px;
}

.c_company-slider {
	width: 1050px;
	margin: 0px auto;
	position: relative;
	padding-top: 30px;
}

.c_company-slider .c_next {
	position: absolute;
	top: 40%;
	right: 30px;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}

.c_company-slider .c_prev {
	position: absolute;
	top: 40%;
	left: 30px;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}

.c_company-slider .c_company-wrapper {
	width: 84%;
	height: 400px;
	margin: 0px auto;
	overflow: hidden;
	/* padding: 10px 0px 10px 0px; */
	display: flex;
	align-items: center;
}

.c_company-slider .c_company-wrapper .c_company {
	width: 300px;
	margin: 0px 10px;
	display: inline-block;
	background: white;
	border-radius: 5px;
}

.c_company-slider .c_company-wrapper .c_company .c_company-info {
	font-size: 13px;
	height: 30%;
	padding-left: 10px;
}

.c_company-slider .c_company-wrapper .c_company .c_slider-image {
	width: 100%;
	height: 270px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

content>article>div, #c_notice_info {
	width: 1200px;
	height: 1000px;
	padding: 30px;
	display: none;
	margin: 20px auto 0;
	background-color: rgb(241, 241, 241);
}

/* 컨텐트 */
content>article>div, #c_notice_info {
	width: 1200px;
	height: 1000px;
	padding: 30px;
	display: none;
	margin: 20px auto 0;
	background-color: rgb(241, 241, 241);
	border-radius: 15px;
}

/* 컨텐트 안 제목 */
article>div>p {
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	font-size: large;
}

/* section 공용 */
#main_box {
	width: 1200px;
	margin: 15px auto 0;
}

.box_font {
	margin-top: 10px;
	font-weight: bold;
}

.c_company_info {
	background-color: white;
	width: 900px;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 15px;
}

/* 내 정보 수정 : 손은진 */
.s_us_th {
    text-align: center;
    vertical-align: middle;
    width: 250px;
}

.s_row {
	width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: 30px;
}

#s_us_info_btn {
	text-align: center;
	margin-top: 30px;
}

.border_none {
	border: 0;
}

#s_us_notice {
	vertical-align: middle;
	color: red;
}

#s_us_pwd {
	width: 500px;
}

#s_id_style {
	display: inline-block;
    color: #0d6efd;
    font-weight: bold;
}

#s_us_push_right_btn {
	display: inline-block;
    color: gray;
    font-size: .8em;
}

#s_us_notice_2 {
	vertical-align: middle;
	color: red;
}

.tb_bg_color {
	background-color: #e9ecef !important;
}

/* 회원 탈퇴 */
.s_us_delete_tt {
	font-size: 2em;
    font-weight: bold;
}

.s_us_delete_ct {
	padding: 10px 0;
    font-size: .8em;
    color: darkslategray;
}

.s_us_delete_img {
	display: inline-block;
    width: 20px;
}

.s_us_delete_st {
	display: inline-block;
    padding-left: 10px;
    font-weight: bold;
    font-size: .9em;
}

#s_us_delete_ct_span {
	padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #0d6efd;
    font-size: .9em;
    font-weight: bold;
}

#s_us_delete_ct_span_2 {
	padding-top: 20px;
    padding-bottom: 20px;
    font-size: .9em;
}

#s_us_ss_delete_img {
	width: 100px;
    margin-bottom: 30px;
}

#s_us_ss_delete_img_2 {
	display: block;
    width: 300px;
    margin: 0 auto;
}

#s_us_ss_delete_span {
	font-size: 1.5em;
    font-weight: bold;
}

#s_us_ss_delete_span_2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #0b5ed7;
}

#s_us_ss_delete_box {
	text-align: center;
    border: 1px solid white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #f6f6f6;
}

#s_us_ss_delete_box_ct {
	padding: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
}

#s_us_mainpage {
	margin-top: 30px;
    width: 300px;
}