<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>jiwoodong_project</display-name>
<!--   <welcome-file-list>
  	<welcome-file>/WEB-INF/mainpage.jsp</welcome-file>
	<welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> -->
  <servlet-mapping>
		<servlet-name>default</servlet-name>
<!-- 		<url-pattern>/</url-pattern> -->
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.ico</url-pattern>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>kh.semi.jwd.common.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<resource-ref>
		<description>oracleLocalDBCP</description>
		<res-ref-name>jdbc/oracleScottLocal</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>oracleKHLocalDBCP</description>
		<res-ref-name>jdbc/oracleKHLocal</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>oracleKHPclassDBCP</description>
		<res-ref-name>jdbc/JWDPclass</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/error/error405.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/error/error500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/WEB-INF/error/error500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/WEB-INF/error/error500.jsp</location>
	</error-page>
	
	  <!-- 세션 유지 시간 설정 (분) 단위 -->
	  <session-config>
	    <session-timeout>30</session-timeout>
	  </session-config>
</web-app>